body {
	margin: auto;
  width: 700px;
	padding: 3em 1em;
	background-color: rgb(28, 27, 34);
	color: rgb(251, 251, 254);
  font-family: sans-serif;
  line-height: 1.5em;
}

a {
  color: cadetblue;
}

img {
  display: block;
  margin: 2em auto;
  max-width: 100%;
  border-radius: .2em;
}
figure > img {
  margin: auto;
}

figcaption {
	font-size: .9em;
	line-height: 1.48em;
	font-style: italic;
}

hr {
  margin: 2em auto;
  border-image: linear-gradient(
    to right,
    transparent,
    #fff8 50%,
    transparent
  );
  border-image-slice: 1;
}

footer {
  font-size: .8em;
}
